@CHARSET "ISO-8859-1";
.breadcrumbs{
       background-color: #454545;
background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,#303030),color-stop(1,#262626));
background-image: -webkit-linear-gradient(top,#303030,#262626);
background-image: linear-gradient(top,#303030,#262626);
border: 1px solid #141414;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.06),1px 1px 0 rgba(255,255,255,.03),-1px -1px 0 rgba(0,0,0,.02),inset 1px 1px 0 rgba(255,255,255,0.05);
box-shadow: 0px 1px 0 rgba(255,255,255,.06),1px 1px 0 rgba(255,255,255,.03),-1px -1px 0 rgba(0,0,0,.02),inset 1px 1px 0 rgba(255,255,255,0.05);
color: #9f9f9f !important;
cursor: pointer !important;
display: inline-block;
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030',EndColorStr='#262626');
font-size: 11px;
font-weight: bold;
height: 29px;
margin: 0 5px;
outline: 0;
padding: 0 8px;
text-align: center;
text-decoration: none !important;
text-shadow:inset 0 1px 0 #ccc, 0 -1px 0 #000;
-webkit-user-select: none;
nonevertical-align:middle;
white-space: normal;
word-wrap: normal; 
}

.xbreadcrumbs_style {
    background: none;
} 
.xbreadcrumbs_style LI A {
 

}
.xbreadcrumbs_style LI A:HOVER, .xbreadcrumbs_style LI.hover A { text-decoration: none; }
.xbreadcrumbs_style LI.current A {
    color: #333333;
    text-decoration: none;
}
.xbreadcrumbs_style LI {
    border-right: none;
    background: url(separator-arrow.gif) no-repeat right center;
    padding-right: 15px;
    padding-left: 10px;
}
.xbreadcrumbs_style LI.current { background: none; }
.xbreadcrumbs_style LI UL LI { background: none; padding: 0;  }


/*  Sub-level  */
.xbreadcrumbs_style LI UL {
	background:#eee;
}
.xbreadcrumbs_style LI UL LI {
	float: left;
	width: 100%;
	border-right: none;
	height: auto;
}
.xbreadcrumbs_style LI UL LI A {
	text-decoration: none;
	color: #222 !important;
	display: block;
	padding: 4px;
	border-bottom: 0px;;
}
.xbreadcrumbs_style LI UL LI:last-child A {
	border-bottom: none;
}
.xbreadcrumbs_style LI UL LI A:HOVER {
    background: #bbb;
}